
.title_information {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  width: 75%;
}

.awardSpan__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 2.6em;
  gap: 0.6em;
}

.awards__span {
  background-color: var(--color-pink-two);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  /* width: 312px; */
  width: 70%;
  height: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 1.1em;
  cursor: pointer;
}

.moreInfo__box {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.title_information,
.moreInfo__box {
  margin: 0 auto;
}

.texOne {
  color: var(--color-green);
  font-weight: 700;
}

.textTwo {
  font-weight: 700;
  font-size: 15px;
}

.textThree {
  color: var(--color-gray-two);
  font-weight: 700;
  font-size: 14px;
}

.textFour {
  color: var(--color-lightBlue);
  font-weight: 900;
  font-size: 14px;
}

.texOne,
.textThree,
.textFour,
.textTwo {
  text-align: center;
}

.hr__box {
  display: flex;
  align-items: center;
  margin-left: 1.1em;
  margin-right: 1.1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.numberZero {
  margin-left: 2.5em;
  margin-right: 2.5em;
  font-size: 10px;
  font-weight: 700;
}

.hr {
  width: 100%;
  background-color: black;
  border: none;
  height: 3px;
}

@media screen and (min-width: 750px) {
  .title_information {
    font-size: 1.9vw;
  }

  .awards__span {
    width: 50%;
  }

  .text_moreInfo {
    font-size: 21px;
  }
}
