body {
  color: var(--color-black);
}

.modal-form-container {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  & input {
    padding-left: 10px;
  }
}

.error-message {
  position: relative;
  top: -15px;
  color: rgb(183, 4, 4);
  font-size: 0.8rem;
}

.modal-form-box {
  background-color: var(--color-orange);
  height: 100%;
  margin-left: 4%;
  margin-right: 4%;
  overflow-y: auto;
}

.close-form-box {
  width: max-content;
}

.bx-left-arrow-alt {
  font-size: 70px;
}

.form-text {
  margin-top: 0.8em;
  margin-left: 2.3em;
  margin-right: 2.3em;
}

.form-text-one {
  /* font-size: 14px; */
  font-size: 2.6vw;
  font-weight: 700;
  color: var(--color-black);
  margin-bottom: 25px;
}

.form-text-two {
  font-size: 2.6vw;
  font-weight: 700;
  color: var(--color-black);
}

.user-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.6em;
  margin-left: 2.3em;
  margin-right: 2.3em;
  margin-bottom: 0.9em;
}

.user-form label {
  font-size: 13px;
  font-weight: 600;
  padding-left: 0.5em;
  margin-bottom: 0.2em;
}

.user-form input {
  outline: none;
  border: none;
  border-radius: 0.5em;
  height: 45px;
  margin-bottom: 1.2em;
}

.purchase-detail-text {
  text-align: center;
  font-size: 2.4vw;
  font-weight: 600;
}

.purcharse-hr {
  margin-left: 0.1em;
  margin-right: 0.1em;
  color: black;
  opacity: 0.7;
}

.purchase-detail-item p {
  font-weight: 700;
  font-size: 14px;
}

.purchase-detail-box {
  margin-top: 1.2em;
}

.purchase-detail-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.purcharse-detail-text-span {
  color: var(--color-green-two);
  font-size: 28px;
  font-weight: 600;
}

.purchase-detail-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.purchase-tickets {
  display: flex;
  text-align: center;
  gap: 0.4em;
}

.purchase-tickets p {
  font-weight: 400;
}

.purchase-tickets span {
  font-weight: 800;
  font-size: 13px;
}

.wompi-box {
  width: max-content;
  margin-left: 0.1em;
  margin-top: 2.8em;
}

.wompi-cont-box img {
  width: 50%;
}

.wompi-cont-box {
  width: 160px;
  display: flex;
  background-color: var(--color-white);
  padding: 0.4em;
  border-radius: 0.6em;
}

.wompi-text {
  font-size: 11px;
  margin-top: 0.5em;
}

.payment-button-box {
  margin-top: 2.4em;
  margin-bottom: 2.7em;
  display: flex;
  justify-content: center;
}

.payment-button {
  border: none;
  background-color: var(--color-lightBlue-two);
  padding: 0.9em;
  border-radius: 1.7em;
  color: var(--color-white);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  width: 250px;
}

.payment-text-button {
  font-size: 13px;
  font-weight: 700;
}

.opportunity-text {
  font-size: 8px;
  font-weight: 600;
}

.success-modal {
  background-color: var(--color-white);
  width: 80%;
  height: 90%;
  position: fixed;
  border-radius: 0.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.didis {
  height: 60px;
  width: 60px;
}

@media screen and (min-width: 750px) {
  .close-form-box {
    margin-left: 1em;
  }

  .form-text-one,
  .form-text-two {
    font-size: 2vw;
    font-weight: 700;
    color: var(--color-black);
  }

  .form-text,
  .user-form {
    margin-left: 3.9em;
    margin-right: 3.9em;
  }

  .purchase-detail-text {
    font-size: 1.7vw;
  }

  .purchase-detail-item p {
    font-size: 16px;
  }

  .user-form label {
    font-size: 17px;
  }
}
